$bgNavBrand: url('../images/nav-brand.png');
$bgAvatar: url('../images/avatar.png');
$bgVideoImage: url('../images/thisinhyeuthich.png');
$bgBallBackground: url('../images/background-5.png');
$bgBanToChuc: url('../images/bantochuc.png');
$bgSuperLeague: url('../images/super_league.png');
$bgBamboAirwayLogo: url('../images/bambo_ariway_logo.png');
$bgFlcLogo: url('../images/flc_logo.png');
$bgHuongQueenLogo: url('../images/huongqueen_logo.png');
$bgLasenVuLogo: url('../images/lasen_vu_logo.png');
$bgTriVinhLogo: url('../images/trivinh_logo.png');
$bgCardHeader: url('../images/cardheader.png');
$bgPage1: url('../images/chuyentrang1.png');
$bgPage2: url('../images/chuyentrang2.png');
$bgFooter: url('../images/footer.png');
$bgLichSuLogo: url('../images/lichsu.png');

$titleColor: #002a41;
$blueColor:#eefdff;
$textColor: #aab1b7;
$roseColor: #ffebeb;
$whiteColor: #ffffff;
$blackColor: #000000;
$orangeColor: #ff6201;
$colorNavBar: rgba(255,255,255,0.5);
$toRightLinerColor: linear-gradient(to right, #ff6201 0%, #fd7e0d 100%);
$boxshadow: 0px 5px 10px rgba(0,0,0,0.2);

$fontOpenSans: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
$fontOpenSansBold: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
