@import '../variable.scss';

@font-face {
    font-family: opensans;
    src: $fontOpenSans;
}
@font-face {
    font-family: opensans-bold;
    src: $fontOpenSansBold;
}
* {
    padding:0;
    margin:0;
}

body {
    font-family: opensans;
    font-family: 1em;
}

p,a {
    font-size:1em!important;
}
.title {
    font-size:1.5em!important;
}

.wrap {
    width: 100%;
    height: 100%;
}

.clearfix {
    &:after, &:before {
        display:block;
        content: '';
    }
    &:after {
        clear:both;
    }
}

.line {
    display: block;
}

.container {
    margin-left:auto;
    margin-right:auto;

    padding-left: 15px;
    padding-right: 15px;
}

header {
    position: absolute;
    width:100%;
    top:0;
    left:0;
    z-index:1000;
    .header-top {
        position: relative;
        z-index: 1;
        background-color: black;
        .container {
            position: relative;
            .header-top-content {
                position: relative;
                padding:6px 0px;
                .header-top-left {
                    float:left;
                }
                .header-top-right {
                    float:right;
                    p {
                        margin:0 2px;
                        float:left;
                        color:$orangeColor;
                    }
                }
            }
        }
    }
    .header-nav {
        position: relative;
        width:100%;
        background-color: $colorNavBar;
        box-shadow:$boxshadow;
        .container {
            .nav-content {
                width: 100%;
                .nav-logo {
                    float:left;
                    display: flex;
                    align-items: center;
                    height: 73px;
                    a {
                        img {
                            height: 40px;
                        }
                    }
                }
                .nav {
                    float:right;
                    height:100%;
                    ul {
                        list-style-type: none;
                        .nav-item {
                            float:left;
                            a {
                                font-family: opensans-bold;
                                color: $titleColor;
                                text-decoration: none;
                                display: block;
                                line-height: 100%;
                                padding:30px 20px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
}
#main {
    position: relative;
    width: 100%;
    overflow: hidden;
    .section-banner {
        z-index:1000;
        width:100%;
        .bg-banner {
            position: absolute;
            top:0;
            left:0;
            width:100%;
            z-index:-1;
        }
        .superleague {
            display:block;
            width:30vw;
            padding-top:22vw;
            margin: 0 auto;
        }
        .hinhmayquabong {
            display: block;
            width:30vw;
            margin:0 auto;
        }
        .bantochuc {
            display: flex;
            justify-content: center;
            img {
                width:10vw;
                padding:2vw 1vw;
                background-color:$whiteColor;
                margin:2px;
            }
        }
    }
    .section-intro {
        display:flex;
        margin-top:-1vw;
        .text-intro {
            display:flex;
            justify-content: flex-end;
            align-items: center;
            width:50vw;
            .box-text {
                width:40vw;
                .title-line{
                    img {
                        width:100%;
                    }
                }
                .content-intro {
                    margin-top:20px;
                    margin-bottom:40px;
                    font-size: 20px;
                    color:$titleColor;
                }
                .btn {
                    background: $toRightLinerColor;
                    padding: 10px 30px;
                    color:$whiteColor;
                    border-radius:100px;
                    font-weight: bold;
                    text-decoration: none;
                }
            }

        }
        .video-intro {
            width:50vw;
            img {
                width:50vw;
            }
        }
    }
    .section-history {
        position: relative;
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-top:-6vw;
        z-index: 1;
        .bg-history {
            position: absolute;
            width: 100%;
            z-index:-1;
        }
        .title-history {
            text-transform: uppercase;
            color: $whiteColor;
            font-size:2em;
            font-family: opensans-bold;
            padding-top:7vw;
            padding-bottom:20px;
        }
        .table-history {
            margin-top:40px;
            table {
                font-weight: 600;
                border-collapse: collapse;
                width: 70vw;
                z-index: 9999;
                box-shadow:$boxshadow;
                overflow: auto;
                .table-top {
                    color:$whiteColor;
                    border-top:2px solid rosybrown;
                    text-transform: uppercase;
                    font-weight: bold;
                    background-color:$colorNavBar!important;
                    td {
                        min-height: 10vw;
                        max-height: 70px;

                    }
                }
                td {
                    height: 60px;
                }
                tr {
                    text-align: center;
                    background-color:$whiteColor;
                    &:nth-child(even) {
                        background-color:$roseColor;
                    }
                }
            }
        }
        .group-button {
            margin-top:20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            a {
                img {
                    height: 20px;
                    border:1px solid $orangeColor;
                    border-radius: 0.25em;
                    padding:5px;
                    margin:0px 5px;
                }
                &:last-of-type {
                    img {
                        transform: rotateY(180deg);
                    }
                }
            }
        }
        .next-pages {
            margin-top:20px;
            width:100%;
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            a {
                img {
                    width:calc(80vw/2 - 10vw);
                }
            }
        }
    }
    .section-listVote {
        padding-bottom:50px;
        width: 100%;
        background-color: $blueColor;
        display: flex;
        align-items: center;
        flex-direction: column;
        .bg-listvote {
            position: absolute;
            width:100%;
        }
        .title-listvote {
            text-transform: uppercase;
            color: $titleColor;
            font-size:4em;
            font-family: opensans-bold;
            padding-top:7vw;
            padding-bottom:20px;
        }
        .group-button {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            div {
                transform: skewX(30deg);
                background-color: $whiteColor;
                border:1.5px solid $orangeColor;
                padding:5px 15px;
                margin:5px;
                &:hover {
                    background-color: $orangeColor;
                }
                &:hover > a {
                    color: $whiteColor!important;
                }
                a {
                    display: block;
                    text-decoration: none;
                    font-family: opensans-bold;
                    text-transform: uppercase;
                    font-size: 18px;
                    transform: skewX(-30deg);
                }
            }
        }
        .group-player {
            margin-top: 40px;
            .container {
                .row {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                    .card {
                        position: relative;
                        box-shadow:$boxshadow;
                        width: calc((100% * (1/4)) - 40px);
                        background-color:$whiteColor;
                        margin:5px;
                        z-index: 1;
                        .card-header {
                            position: absolute;
                            width: 100%;
                            text-align: center;
                            z-index: 9999;
                            .wrap {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                position: relative;
                                img {
                                    top:0;
                                    left:0;
                                    position: absolute;
                                    width: 100%;
                                    height: auto;
                                    z-index: -1;
                                }
                                p {
                                    margin-top:10px;
                                    color:white;
                                    font-family: opensans-bold;
                                    &::after {
                                        content: "";
                                        display: block;
                                        margin:10px auto;
                                        width: 70px;
                                        height: 2px;
                                        background-color: white;
                                    }
                                }
                            }
                        }
                        .card-body {
                            padding:10px;
                            text-align: center;
                            .card-avatar {
                                background-color:#8a9dbd;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                overflow: hidden;
                                img {
                                    width: 100%;
                                }
                            }
                            .card-text {
                                font-weight: bold;
                                &:first-of-type {
                                    margin-top:10px
                                }
                                &:last-of-type {
                                    margin-bottom:20px;
                                }
                            }
                            a {
                                display: block;
                                text-decoration: none;
                                font-weight: bold;
                                background-color:black;
                                padding:15px;
                                width: 30%;
                                margin:0 auto;
                                color:white;
                            }
                        }
                    }
                }
            }
        }
    }
    .section-footer {
        width: 100%;
        position: relative;
        text-align: center;
        // background-color:$whiteColor;
        .footer-header {
            background-color: $blueColor;
            width: 100%;
            transform:rotateX(180deg);
        }
        .qq {
            padding:15px 0;
            position: relative;
            margin:40px auto;
            .pre-btn {
                position: absolute;
                display:flex;
                justify-content: flex-end;
                align-items: center;
                width: 50px;
                height: 50px;
                left:-50px;
                top:50%;
                transform: translate(0,-50%);
            }
            .next-btn {
                display:flex;
                justify-content: flex-start;
                align-items: center;
                position: absolute;
                width: 50px;
                height: 50px;
                right:-50px;
                top:50%;
                transform: translate(0,-50%);
                img {
                    transform: rotateY(180deg);
                }
            }
            .qq-hidden {
                width: 100%;
                height: 100%;
                padding:15px 0;
                overflow: hidden;
                .list-qq {
                    .box-qq {
                        float:left;
                        background: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: $boxshadow;
                        margin:0 10px;
                        img {
                            width: 90%;
                        }
                    }
                }
            }
        }
        .footer {
            position: relative;
            display:flex;
            justify-content: center;
            .bg-footer {
                width:100%;
                z-index:-1;
            }
            .bytesoft-logo {
                position: absolute;
                top:4vw;
                left:50%;
                transform: translate(-50%,0);
                width:15vw;
            }
            p {
                width:100vw;
                font-family: opensans-bold;
                padding:2vw 0px;
                color:$whiteColor;
                font-size:20px;
                position: absolute;
                bottom:0;
                left:50%;
                transform: translate(-50%,0);
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .container,
    .qq {
        width: 90vw !important;
        .list-qq {
            width: calc((90vw/3)*8);
            .box-qq {
                width: calc(90vw/3 - 20px);
                height: calc((90vw/3 -20px)*(2/3));
            }
        }
    }
    header {
        .nav {
            position: fixed;
            background: black;
            width:80vw;
            height: 100%;
            padding:0;
            margin:0;
            left:-80vw;
            top:0;
            z-index: 999999;
            ul {
                li {
                    float:none!important;
                    a {
                        color:white!important;
                    }
                }
            }
        }
        .header-nav {
            .nav-logo {
                height: 70px;
            }
        }
    }
    #main {
        .section-banner {
            .bg-banner {
                height: 200vw!important;
                width:auto!important;
            }
            .superleague {
                padding-top:30vw;
            }
        }
        .section-intro {
            margin-top:10vw;
            flex-direction: column;
            align-items: center;
            .text-intro {
                width:100vw;
                justify-content: center;
                .box-text {
                    width:80vw;
                    .content-intro {
                        color:white!important;
                    }
                }
            }
            .video-intro {
                width:100vw;
                img {
                    width:100vw;
                }
            }
        }
        .section-history {
            margin-top:-10vw;
            .bg-history {
                width:200vw!important;
                right:0;
            }
            .title-history {
                padding-top:12vw;
            }
            .next-pages {
                a {
                    img {
                        width: calc(90vw - 10vw);
                    }
                }
            }
        }
        .section-listVote {
            .group-button {
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .group-player {
        .card {
            width: calc((100% * (1/2)) - 20px)!important;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 993px) {
    .container {
        width: 80vw!important;
    }
    .qq {
        width: 70vw !important;
        .list-qq {
            width: calc((70vw/6)*8);
            .box-qq {
                width: calc(70vw/6 - 20px);
                height: calc((70vw/6 -20px)*(2/3));
            }
        }
    }
}
